<div class="VideoList">
    <div class="container">
        <div class="well text-center" hide-when-loading="isLoading" ng-if="!videoList || videoList.length == 0">
            Empty List
        </div>
    </div>
    <div infinite-scroll="retrieveVideos()" infinite-scroll-distance=".3">
        <ul>
            <li ng-repeat="video in videoList">
                <div class="row VideoItem">
                    <div class="col-sm-4">{{$index}} {{video.url}}</div>
                    <div class="col-sm-8">{{video.name}}
                        <br>{{video.description}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
