<div class="VideoList">
    <div class="container">
        <div class="well text-center" hide-when-loading="isLoading" ng-if="!videoList || videoList.length == 0">
            Empty List
        </div>
    </div>
    <div infinite-scroll="retrieveVideos()" infinite-scroll-distance="5">
        <div class="row VideoItem">
            <div class="col-sm-4 col-lg-3 fx-zoom-down fx-speed-500" ng-repeat="video in videoList track by video._id">
                <div class="list-group" ng-click="openModalVideo(video);">
                    <div class="list-group-item">
                        <video-directive-readonly video="video"></video-directive-readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:300px"></div>
</div>
<div class="modal fade" id="modal-video">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{modalVideo.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <video-directive video="modalVideo"></video-directive>
                        </div>
                        <div class="col-sm-6">
                            <div class="VideoDescription">
                                <p>{{modalVideo.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
