<div class="VideoWidget">
    <div class="VideoContainer">
        <videogular vg-theme="video.videoConfig.theme" vg-player-ready="on_player_ready($API)">
            <vg-media vg-src="video.videoConfig.sources" vg-tracks="video.videoConfig.tracks"></vg-media>
            <vg-poster vg-url="images/video-poster.jpg"></vg-poster>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
        </videogular>
    </div>
    <span class="rateContainer">
        <ng-rate-it ng-model="video.pristineRate" resetable="false" step="1" before-rated="on_before_rated" ng-click="$event.stopPropagation();" pristine="true"></ng-rate-it>
    </span>
    <span class="GeneralRate">(General: {{generalRate() | number:2}})</span>
</div>
