.VideoWidget
	h5
		min-height: 30px
	.rateContainer
		min-height: 37px
		height: 37px
		width: 80px
		max-width: 80px
		display: inline-block
	.ngrateit
		padding: 8px 0
		display: inline-block
	.GeneralRate
		font-size: .8em
		display: inline-block
		position: absolute
		margin-top: 11px
		margin-left: 3px
	.VideoContainer
		img
			width: 100%
p
	text-align: justify
.list-group-item
	height: 250px
	cursor: pointer